table {
display:flex;
background-color:#000000;
border: 2px solid #000000;
max-width: 500px;
max-height: 550px;
order:2;
}
.cet{
background-color:#83ebe7;
}
.ncet{
background-color:#b3de85;
}
.header {
background-color:#d66d80;
height: 100px;
padding-top:20px;
}
.zak{
color: #000000;
font-size: 50px;
top:0;
float: left;
}
.form{
order:1;
}
.nav {
display: flex;
flex-direction: column;
background-color:#f7d0d7;
max-width: 900px;
margin: 0 auto;
}
.footer {
background-color:#d66d80;
height: 70px;
font-size: 40px;
}
.menu {
max-width:960px;
text-align: center;
margin:0 auto;
display: flex;
flex-direction: column;
background-color:#f7d0d7;
padding-top:20px;
}
body{
margin: 0;
}
.logo {
max-width:150px;
float:left;
margin:auto;
}
.conteiner{
max-width: 960px;
margin:0 auto;
text-align:center ;
font-size:20px ;
}
.fa{
font-size: 16px;
color:#000000;
margin:0 auto;
text-decoration:none;
}
@media screen and (min-width:768px){
.nav {
background-color:#f7d0d7;
max-width: 960px;
margin: 0 auto;
}
.menu{
flex-direction: row;
}
.form {
order: 2;
}
table {
order: 1;
}
}


